## Exercise01 - Public School Test Result

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

### Tasks :
1. Which NYC schools have the best math results? 
   - The best math results are at least 80% of the *maximum possible score of 800* for math.
   - Save your results in a pandas DataFrame, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.
2. What are the top 10 performing schools based on the combined SAT scores?
   - Save your results as a pandas DataFrame containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.
3. Which single borough has the largest standard deviation in the combined SAT score?
   - Save your results as a pandas DataFrame.
   - The DataFrame should contain one row, with:
      - "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
      - "num_schools" - the number of schools in the borough.
      - "average_SAT" - the mean of "total_SAT".
      - "std_SAT" - the standard deviation of "total_SAT".
   - Round all numeric values to two decimal places.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [ ]:
# Start coding here...
# Add as many cells as you like...